.idea/
__pycache__/
architectures/__pycache__/
architectures/layers/__pycache__/
data/CUB_200_2011/
data/acdc_data/preprocessed/
data/acdc_data/test/
data/acdc_data/train_disc/
data/acdc_data/train_sup/
data/acdc_data/train_unsup/
data/acdc_data/training/
data/acdc_data/validation/
data_interface/interfaces/__pycache__/acdc_texture_interface.cpython-37.pyc
idas/callbacks/__pycache__/
idas/losses/__pycache__/
idas/metrics/__pycache__/
image_results/
results/
tmp/
data_interface/interfaces/__pycache__/
data_interface/__pycache__/
